
@{
    ViewBag.Title = "ConfessionError";
}

    <div class="jumbotron row col-6 mr-auto ml-auto mt-5 pl-0 pr-0 pt-4 pb-4" style="z-index: 1;">
        <h4 class="col-12 text-center">
            Помилка
        </h4>
        <p class="col-12">
            Ваша конфесія не вказана, тому ви не можете керувати постами. Щоб її вказати потрібно перейти до @Html.ActionLink("налаштувань профілю", "Index", "Manage" ) та натиснути "Редагувати персональну інформацію".
        </p>
    </div>
