@using Microsoft.AspNet.Identity;
@using PastorNub.Models;
@model PastorNub.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    string UserId = User.Identity.GetUserId();
}

   <img height="50" width="50" style="display: inline;" src="~/Files/Avatar/@Model.Avatar" />
                <div class="d-inline">
                    <span class=""><b>@Model.UserName</b></span>
                </div>
    <div class="col-5 offset-8 position-absolute">
        @if (Model.Pastor.Subscribers.Where(i => i.User.Id == UserId).Count() > 0)
        {
        @Ajax.ActionLink("Відписатися", "UnFollow", "Profile", new { Id = Model.Id }, new AjaxOptions { UpdateTargetId = "Follow" }, new { @class = "btn btn-outline-success", style = "margin-top: -60px; margin-right: 30px; margin-left: -5px;" })
        }
        else
        {
        @Ajax.ActionLink("Слідкувати", "Follow", "Profile", new { Id = Model.Id }, new AjaxOptions { UpdateTargetId = "Follow" }, new { @class = "btn btn-outline-success", style = "margin-top: -60px; margin-left: 3px; " })
        }
    </div>
    <div class="col-4 offset-1 position-absolute" style="margin-top: -15px;">
        <span class="">Слідкуючих: <span>@Model.Pastor.Subscribers.Count</span></span>
    </div>