body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.PostStyle{

}

.ChangePersonalInfoStyle {
}

.AccountSettingsStyle{

}

.RegisterStyle{

}

.LoginStyle{

}

.LinkBtn {
    color: blue;
}

.LinkBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.BackgroundClose {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.PopUp {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow-y: scroll;
    overflow-x: hidden;
}

    .PopUp:active body {
        overflow: hidden;
    }


.LikeBtn > img {
    overflow: hidden;
    transition: 0.2s;
}
.LikeBtn:hover
{
    cursor: pointer;
    transform: scale(0.8);
}

.LikeBtn > img:hover {
    transform: scale(0.8);
}

.LikeBtn > img:active {
    transform: scale(1.3) !important;
}

.LikeBtn:active {
    transform: scale(1s) !important;
}
