<div class="jumbotron position-fixed container col-2 text-center m-0" style="width: 300px; height: 89.5%;">

            Advert

</div>
<div class="jumbotron position-fixed container col-2 text-center m-0" style="width: 300px; height: 89.5%; left: 83.4%;">

    Advert 2

</div>

<div class='jumbotron text-center col-2 offset-2' id="NavigationMenu">

</div>
<div class='jumbotron text-center col-2 offset-4' id="SortMenu">

</div>

<div class='jumbotron text-center col-2 pt-0 pb-0 offset-2' style="height: 340px;" id="MessagesMenu">

</div>
<div class='jumbotron text-center col-2 pt-0 pb-0 offset-4' style="height: 340px;" id="RecentMenu">

</div>