
@{
    ViewBag.Title = "Forbidden";
}

<div class="container">
    <div class="row jumbotron mt-5">
        <div class="col-12 text-center">
            <h3>Помилка 403</h3>
            <h5>Щось пішло не так.</h5>
        </div>
    </div>
</div>

